langchain
python-dotenv
langchain_groq
langchain_core
fastapi
langserve
uvicorn
starlette
sse_starlette
langchain_community
transformers
streamlit
pypdf
langchain_huggingface
faiss-cpu
langchain_chroma
langchain_openai
fastapi
uvicorn
pandas
pydantic
rouge